/* Fonts settings */
body, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
  font-family: "Dosis", "Helvetica", Arial, sans-serif;
  font-weight: 600;
}
/* Common Styles */
.title {
  color: #111111;
}

.bg-gradient {
  background: linear-gradient(270deg, #f7395f 0%, #fe702e 100%);
}
.aa-header {
  background-image: url("../../../assets/Cool-Blues.jpg");
  position: relative;
  background-size: cover;
  min-height: 600px;
}
