<li class="nav-item dropdown user-menu">
  <a class="nav-link dropdown-toggle"
     data-toggle="dropdown"
     (click)="toggleDropdownMenu()">
    <span type="button" class="btn btn-block btn-danger">Danger</span>
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <!-- User image(notice ?) img problem-------->
    <li class="user-header bg-primary">

      <p>
        Click
      </p>
    </li>
    <li class="user-footer">
      <a class="btn btn-default btn-flat float-right">Sign out</a>
    </li>
  </ul>
</li>
