.fa-bars {
  cursor: pointer;
}

.nav-item {
  .nav-link {
    cursor: pointer;
  }
}



.custom {
  color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
  align-self: auto;
  margin-left: auto;
}

.navbar-nav {
  font-family: 'Roboto', sans-serif;
  align-self: auto;
}
.side-nav-btn{
    align-self:auto;
}
.icon {
  color: grey;
}
